.navbar-container {
  display: flex;
  justify-content: center;
  align-items: 10px;
  position: absolute;
  top: 2%;
  left: 2%;
}

.navbar {
  display: flex;
  align-items: center;
  border: 12px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-logo img {
  margin-left: 20px;
  margin-right: 40px;
  height: 20px;
}

.nav-links {
  font-family: "Poppins", sans-serif;
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 50px;
}

.nav-links li:last-child {
  margin-right: 300px;
}

.nav-links li a {
  text-decoration: none;
  color: black;
}

.nav-button button {
  background-color: white;
  color: rgb(66, 66, 155);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 25px;
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  border: 1;
  font-size: 14px;
  margin-right: 20px;
}
